.result-card{
    top:150px;
    background:linear-gradient(to right, rgb(156, 142, 222), 50%, rgb(226, 225, 221) );
    color:#ffffffb2
}

.status-btn{
    background-color: #ff0000;
    width: 100px;
    height: 25px;
    border-radius: 0%;
}

.dark-table{
    background-color:  rgb(144, 82, 148);
}

td, th{
    text-align: center;
    background-color: rgb(144, 82, 148);
    color:#ffffffb2;

}
.bigbtn{
	border:white;
	background: white;
    padding: 5px;
}
.endbtn{
    margin-bottom: 10px;
    text-align: center;
}

.tsev{
    font-weight: 500;
}

.dotdots{
    position: absolute;
    top:15vh;
    left:37vw;
}